@model Store_Domain.Album

<div class="well">
    <div class="row">
        <h3><strong>@Model.AlbumName</strong></h3>
        <span class="pull-right label label-primary"> <h4>@Model.AlbumPrice.ToString("c")</h4></span>
        <span class="lead">@Model.AlbumDescription</span>
        <br />
        <span class="pull-left label label-default">@Model.AlbumCategory</span>
    </div>
    <div class="row"></div>
    <div class="row">
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-left">
                @Html.HiddenFor(x => x.AlbumId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to Cart" />
            </div>
        }

    </div>

</div>
